*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
.carousel-item img{
    width: 100%;
    height: 93vh;

}
.carousel-caption {
    
    color: black;
    text-align: center;
}

.about_image{
    width: 111%;
    height: 270px;
}
.img-fluid{
    max-width: 116%;
    height: 105px;
}

/* .col-md-4 {
    flex: 0 0 auto;
} */
.container {
    display: inline;
}
.offer_style{
    background: #a6dcef;
    
}
.gallery{
    background-color: #eff0b6;
}
.about{
    background-color: #fcd1d1;
}
.Github{
    margin: 0%;
    padding: 0%;
    margin-top: 1.3%;
    text-align: center;

}

